@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Inter", sans-serif !important;
  
}

.tab-scroll::-webkit-scrollbar {
  height: 3px;
}
.tab-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.tab-scroll::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 999px;
}